body { 
    background-color: #4b0947;
    color: #221811; 
    font-family: Tahoma, Arial, Helvetica, sans-serif; 
    width: 80%; 
    margin-left: auto; 
    margin-right: auto;
    background-image: url(background.jpg); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
}
header { 
    display: flex;
    align-items: center;
    background-color: #c5aae7;
    padding: 10px;
}
header img {
    width: 150px;
    height: auto;
    margin-right: 20px; 
}
header a h1 {
    font-size: 3em; 
    margin: 0;
    color: #4b0947;
}
header a {text-decoration: none;}
header a h1:hover {color: #3533ce;}

h1 { 
    font-size: 3em; 
    padding-left: 2em; 
    padding-right: 1em; 
}
h2 { 
    color: #4b0947; 
    padding-left: 3em; 
    padding-right: 2em; 
}
h3 {
    color: #4b0947; 
    padding-left: 3em; 
    padding-right: 2em;
}
nav { 
    text-align: left; 
    font-weight: bold; 
    font-size: 1.5em; 
    padding-top: 5px; 
    padding-bottom: 5px;
    float: left; 
    width: 200px
}
nav a { 
    text-decoration: none; 
    color: #ba95e7;
}
nav a:hover { color: #218f2a; }
nav ul { list-style-type: none; padding-left: 10px; }
nav ul li { padding: 10px;}
footer { 
    background-color: #c5aae7; 
    font-size: small; 
    font-style: italic; 
    text-align: center; 
    padding: 1em; 
    border-top: solid 2px #48268c;
}
#wrapper { 
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #5c2c77; 
    min-width: 900px; 
    max-width: 1280px; 
    box-shadow: 0px 0px 5px 2px black;
    padding: 0; 
}
main {
    padding-left: 0; 
    padding-right: 0; 
    padding-bottom: 2em; 
    display: block; 
    margin-left: 200px; 
    padding-top: 0; 
    background-color: #b1b9eb; 
    overflow: auto;
}
.recents img:hover {
    cursor: pointer;
}
.recents figure {
    float: left;
    text-align: center;
}
.recents figure a img {
    transition: transform 0.3s;
}
.recents figure a img:hover {
    transform: translateY(-10px);
}
figcaption {
    font-weight: bold;
}






.details { padding-left: 20%; padding-right: 20%; overflow: auto; }
#home { height: 300px; width:100%; display: flex; justify-content: center; background-size: 100%; background-repeat: no-repeat; }
* { box-sizing: border-box; }
#heromugs { height: 300px; width:100%; display: flex; justify-content: center; background-size: 100%; background-repeat: no-repeat; 
background-image: url(heromugs.jpg);}
#heroguitar { height: 300px; width:100%; display: flex; justify-content: center; background-size: 100%; background-repeat: no-repeat; 
   background-image: url(heroguitar.jpg); }
p { padding-left: 3em; padding-right: 2em; }
div { padding-left: 3em; padding-right: 2em; }
ul { padding-left: 3em; padding-right: 2em; }
dl { padding-left: 3em; padding-right: 2em; }

.floatleft { float: left; padding-right: 2em; padding-bottom: 2em; }
.onethird { float: left; width: 33%; }

table { width: 90%; border-spacing: 0; }
th, td {padding: 10px; text-align: left; }
tr:nth-child(odd) { background-color: #D2B48E; }

form { display: flex; flex-direction: column; padding-left: 1em; width: 80%; }
input, textarea { margin-bottom: .5em; }
form { width: 40%; display: grid; grid-template-columns: 6em 1fr; gap: 1em; }
input[type="submit"] { grid-column: 2; width: 9em; }

audio { display: block; margin-top: 1em; }