/*
 Name: Lucy Finnerty
 Date: 12/13/24
 FA24 CIS-1310-HY001

 Final Project - Lucy's Music Library
 CSS for index, collection, and send html files
 */
 
* { box-sizing: border-box; }
body { 
    background-color: #4b0947;
    color: #221811; 
    font-family: Tahoma, Arial, Helvetica, sans-serif; 
    width: 80%; 
    margin-left: auto; 
    margin-right: auto;
    background-image: url(background.jpg); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
}
#wrapper { 
    width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #5c2c77; 
    min-width: 900px; 
    max-width: 1280px; 
    box-shadow: 0px 0px 5px 2px black;
    padding: 0; 
}
main {
    padding-left: 0; 
    padding-right: 0; 
    padding-bottom: 2em; 
    display: block; 
    margin-left: 200px; 
    padding-top: 0; 
    background-color: #b1b9eb; 
    overflow: auto;
}

/* header element */
header { 
    display: flex;
    align-items: center;
    background-color: #c5aae7;
    padding: 10px;
}
header img {
    width: 150px;
    height: auto;
    margin-right: 20px; 
}
header a h1 {
    font-size: 3em; 
    margin: 0;
    color: #4b0947;
}
header a {text-decoration: none;}
header a h1:hover {color: #3533ce;}

/* headings */
h1 { 
    font-size: 3em; 
    padding-left: 2em; 
    padding-right: 1em; 
}
h2 { 
    color: #4b0947; 
    padding-left: 3em; 
    padding-right: 2em; 
}
h3 {
    color: #4b0947; 
    padding-left: 3em; 
    padding-right: 2em;
}

/* nav element */
nav { 
    text-align: left; 
    font-weight: bold; 
    font-size: 1.5em; 
    padding-top: 5px; 
    padding-bottom: 5px;
    float: left; 
    width: 200px
}
nav a { 
    text-decoration: none; 
    color: #ba95e7;
}
nav a.active{color: #e5a3ee;}
nav a:hover { color: #f0e9f1; }
nav ul { list-style-type: none; padding-left: 10px; }
nav ul li { padding: 10px;}

/* footer element */
footer { 
    background-color: #c5aae7; 
    font-size: small; 
    font-style: italic; 
    text-align: center; 
    padding: 1em; 
    border-top: solid 2px #48268c;
}

/* index.html recents section */
.recents {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; 
}
.recents img {
    width: 100%; 
    height: auto; 
    transition: transform 0.3s,  box-shadow 0.5s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.recents img:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8);
}
.recents figure {
    width: 150px; 
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin: 0; 
    align-items: center;
}
.recents figcaption {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

/* collection.html collection section */
.collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; 
}
.collection img {
    width: 100%; 
    height: auto; 
    transition: transform 0.3s,  box-shadow 0.5s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.collection img:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8);
}
.collection figure {
    width: 150px; 
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin: 0; 
    align-items: center;
}
.collection figcaption {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

/* recommendation table*/
table { 
    width: 100%; 
    border-spacing: 0; 
    border-collapse: collapse;
    table-layout: fixed;
}
th, td {
    padding: 10px; 
    text-align: left; 
    vertical-align: top;
    word-wrap: break-word   ;
}
th {
    text-decoration: underline;
}
td img {
    transition: transform 0.3s,  box-shadow 0.5s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
td img:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8);
}
tr:nth-child(odd) { 
    background-color: #ba95e7; 
}
span {
    font-size: x-small;
    font-weight: bold;
}

/* send.html form */
form { display: flex; flex-direction: column; padding-left: 1em; width: 80%; }
input, textarea { margin-bottom: .5em; }
form { width: 40%; display: grid; grid-template-columns: 6em 1fr; gap: 1em; }
input[type="submit"] { grid-column: 2; width: 9em; }

/* misc */
p { padding-left: 3em; padding-right: 2em; }
div { padding-left: 3em; padding-right: 2em; }
ul { padding-left: 3em; padding-right: 2em; }