body { background-color: #FCEBB6; color: #221811; font-family: Tahoma, Arial, Helvetica, sans-serif; width: 80%; margin-left: auto; margin-right: auto;
       background-image: url(fadedroad50.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;}
header { color: #231814; background-color: #D2B48C; background-image: url(coffeelogo.jpg); background-repeat: no-repeat;
         padding-top: 5px; padding-bottom: 5px; padding-left: 240px; }
h1 { font-size: 3em; padding-left: 2em; padding-right: 1em; }
h2 { color: #8C3826; padding-left: 3em; padding-right: 2em; }
nav { text-align: center; font-weight: bold; 
      font-size: 1.5em; padding-top: 5px; padding-bottom: 5px;
      float: left; width: 200px}
footer { background-color: #D2B48C; font-size: small; font-style: italic; text-align: center; 
         padding: 1em; border-top: solid 2px #8C3826;}
#wrapper { width: 80%; margin-left: auto; margin-right: auto; background-color: #231814; 
           min-width: 900px; max-width: 1280px; box-shadow: 0px 0px 5px 2px black;
            padding: 0; }
nav a { text-decoration: none; }
h4 { background-color: #D2B48C; font-size: 1.2em; padding-left: 3em; padding-right: 2em; padding-bottom: 0em; 
      text-transform: uppercase; border-bottom: 1px solid #000000; clear: left}
h3 { color:#8C3826; padding-left: 3em; padding-right: 2em; }
dt { color: #8C3826; }
main {padding-left: 0; padding-right: 0; padding-bottom: 2em; display: block; 
margin-left: 200px; padding-top: 0; background-color: #FEF6C2; overflow: auto;}
.details { padding-left: 20%; padding-right: 20%; overflow: auto; }
img { padding-left: 10px; padding-right: 10px; }
#homehero { height: 300px; width:100%; display: flex; justify-content: center; background-size: 100%; background-repeat: no-repeat; }
* { box-sizing: border-box; }
#heromugs { height: 300px; width:100%; display: flex; justify-content: center; background-size: 100%; background-repeat: no-repeat; 
background-image: url(heromugs.jpg);}
#heroguitar { height: 300px; width:100%; display: flex; justify-content: center; background-size: 100%; background-repeat: no-repeat; 
      background-image: url(heroguitar.jpg); }
p { padding-left: 3em; padding-right: 2em; }
div { padding-left: 3em; padding-right: 2em; }
ul { padding-left: 3em; padding-right: 2em; }
dl { padding-left: 3em; padding-right: 2em; }
nav a:link { color: #FEF6C2; }
nav a:visited { color: #D2B48C; }
nav a:hover { color: #CC9933; }
nav ul { list-style-type: none; padding-left: 0; }
.floatleft { float: left; padding-right: 2em; padding-bottom: 2em; }
.onethird { float: left; width: 33%; }
header a:link, header a:visited { color: #231814; text-decoration: none; }
header a:hover { color: #FEF6C2; text-decoration: none; }
table { width: 90%; border-spacing: 0; }
th, td {padding: 10px; text-align: left; }
tr:nth-child(odd) { background-color: #D2B48E; }
form { display: flex; flex-direction: column; padding-left: 1em; width: 80%; }
input, textarea { margin-bottom: .5em; }
form { width: 40%; display: grid; grid-template-columns: 6em 1fr; gap: 1em; }
input[type="submit"] { grid-column: 2; width: 9em; }
#herojobs{ background-image: url('herojobs.jpg'); background-size: cover; background-position: center; }
audio { display: block; margin-top: 1em; }